# SMTP Configuration for Hostnet.nl
SMTP_HOST=smtp.hostnet.nl
SMTP_PORT=587
SMTP_ENCRYPTION=STARTTLS
SMTP_USERNAME=vraagje@secufy.nl
SMTP_PASSWORD=SECUFY.sfenza.2023
SMTP_FROM=vraagje@secufy.nl
SMTP_FROM_NAME=Secufy Website
SMTP_TO=vraagje@secufy.nl
